__pycache__/
*.pyc
.env
.vscode/
.ipynb_checkpoints/

# Ignorer tous les CSV
*.csv

# SAUF celui nécessaire au déploiement
!data/base_finale_dashboard.csv

# Ignorer les bases brutes
data/base_finale/
